
<p>Version: @AppVersion</p>
<p>Release Date: @AppDate</p>


@code {

    private string? AppVersion = JWTRoleBasedAuth.Base.AppEngine.CONST_APP_VERSION_DATE.ToString();
    private string? AppDate = JWTRoleBasedAuth.Base.AppEngine.CONST_APP_VERSION_DATE;

    private string? APIVersion = string.Empty;

}
