@page "/"
@inject NavigationManager NavigationManager;
@using JWTRoleBasedAuth.Layout
@layout DefaultLayout

<div class="background-image">

    <div class="registration-form">
        
        <JWTRoleBasedAuth.Components.Account.Login></JWTRoleBasedAuth.Components.Account.Login>
    </div>

</div>

@code {


}
